/* Import Google Font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;

}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #F05A7E;
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;

}

.logo {
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active{
    background-color: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
   position: absolute; 
   bottom: 0;
   left: 0;
   width: 100%;

}

/* ---- main body section ---- */

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

}

.header--title{
    color: #F05A7E;
}

.header--title span{
    font-size: 20px;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: #F05A7E;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 12px;
}

.search--box input {
    background: transparent;
    pad: 10px;
}

.search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search--box i:hover {
    transform: scale(1.2);
}

/* ---- Card Container ---- */

.card--container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title{
    color: #F05A7E;
    padding-bottom: 10px;
    font-size: 15px;
}

.payment--card{
    background: rgb(239, 233, 233);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment--card:hover {
    transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
}
.title{
   font-size: 20px;
   font-weight: 500; 
}

.amount--value{
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.icon {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: #8FD14F;
}

.card--detail {
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: "Courier New",Courier,monospace;
}

/* color css */
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}

.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}

/* ---- tabular sections ---- */

.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
    
}

.table--container{
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #F05A7E;
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #fff;
}

tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

.table--container button {
    color: green;
    background: none;
    cursor: pointer;
}


.cardcontainer {
    display: flex;
    flex-direction: column; /* Align children in a column */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    height: 100%;            /* Make sure it takes the full height of its parent */
    width: 100%;             /* Optional: adjust as needed */
}


.card {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .card-header {
    background-color: #F05A7E;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    display: flex;
    flex-direction: column; /* Align children in a column */
    justify-content: center; /* Center vertically */
    align-items: center; 
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group select{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .btn {
    padding: 12px 60px;
    margin-left: 0px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #F05A7E;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #e4305a;
    color: #fff;
  }